<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs Land</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="title-text heading">Welcome To Blogs Land</h1>
            <h2 style="font-size: 1rem; text-align: center;">Read or Post Your Own Blogs Freely</h2>
        </div>
        <div class="blogs">
            
        </div>
        <div class="functions">
            <button class="add-post"><a href="post">+</a></button>
            <button class="edit-post">E</button>
        </div>
    </div>
</body>
</html>