<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"">
</head>
<body>
    <div class="header">
        <div class="about">
            <h1>Welcome to my first Website !</h1>
            <p>This is a simple implementation of a blog post website.</p>
        </div>
        <div class="links">
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        </div>
    </div>

    <h2 id="tag1">Recent Posts</h2>

    <div class="main">
        {% for post in posts %}
            <div class="post">
                <div class="temp">
                    <h1>{{ post[0] }}</h1>
                    <p id="mail">{{ post[1] }}</p>
                </div>
                <p id="body">{{ post[2] }}</p>
            </div>
        {% endfor %}
    </div>
    <button id="add-post">+</button>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>